# Credentials
credentials.json
token.json
.env
.DS_Store
*.jks

build/bin
node_modules
frontend/dist
frontend/coverage
frontend/public/frontend-licenses.json
frontend/public/backend-licenses.json
mobile/src/data/licenses.json

# Go
backend/*.out

# Sisyphus
.sisyphus/

/build/
/build/**
mobile/modules/caret-position/android/*/**
mobile/modules/caret-position/ios/*/**