# Credentials
credentials.json
token.json
.env
.DS_Store

build/bin
node_modules
frontend/dist
frontend/coverage
frontend/public/frontend-licenses.json
frontend/public/backend-licenses.json

# Go
backend/*.out

# Sisyphus
.sisyphus/

/build/
/build/**